
<div class="left-sidebar-pro">
    <nav id="sidebar" class="active">

        <div class="sidebar-header">
            <a href=#"><h1>KİT</h1></a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" title="Ana Sayfa" href="@Url.Action("Index","Home")">
                                <i class="fa big-icon fa-home icon-wrap"></i>
                                <span class="mini-click-non">Ana Sayfa</span>
                            </a>

                        </li>

                    </ul>

                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" title="Hasta" href="@Url.Action("Index","Patients")">
                                <i class="fa big-icon fa-child icon-wrap"></i>
                                <span class="mini-click-non">Hasta</span>
                            </a>

                        </li>

                    </ul>

                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" title="Rol" href="@Url.Action("Index","Role")">
                                <i class="fa big-icon fa-pencil icon-wrap"></i>
                                <span class="mini-click-non">Rol</span>
                            </a>

                        </li>

                    </ul>

                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" title="Uyruk" href="@Url.Action("Index","Nationality")">
                                <i class="fa big-icon fa-flag-checkered icon-wrap"></i>
                                <span class="mini-click-non">Uyruk</span>
                            </a>

                        </li>

                    </ul>


                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" title="Tanı" href="@Url.Action("Index","Diagnostics")">
                                <i class="fa big-icon fa-stethoscope icon-wrap"></i>
                                <span class="mini-click-non">Tanı</span>
                            </a>

                        </li>

                    </ul>

                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" title="Kullanıcı Kayıt" href="@Url.Action("Register","Account")">
                                <i class="fa big-icon fa-user icon-wrap"></i>
                                <span class="mini-click-non">Kullanıcı Kayıt</span>
                            </a>

                        </li>

                    </ul>
                </nav>
            </div>


        </div>
        
    </nav>
</div>
