@model BioForeignKit.Models.ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Giriş | Yabancı Hasta KİT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/favicon.ico">

    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">


</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="color-line"></div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="back-link back-backend">
                        <a href="@Url.Action("Index","Home")" class="btn btn-primary">
                            Ana Sayfaya Geri Dön
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                        <div class="col-md-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="text-center m-b-md custom-login">
                                <h3>Şifrenizi mi Unuttunuz?</h3>
                                <p>Yeni Şifre Oluştur</p>
                            </div>
                            <div class="hpanel">
                                <div class="panel-body">
                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <h4>Email adresinizi giriniz.</h4>
                                        <hr />
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", title = "Email adresini giriniz." })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" class="btn btn-success" value="Link Gönder" />
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    



</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</html>
